<template>
	<form @submit.prevent="formulario">
		<input
			class="form-control my-3"
			type="text"
			placeholder="Ingrese tarea"
			v-model.trim="texto"
		/>
	</form>
</template>

<script>
import { inject, ref } from '@vue/runtime-core'
export default {
	setup () {
		const todos = inject('todos')
		const texto = ref('')

		const formulario = () => {
			//console.log(texto.value)
			if (texto.value === ''){
				console.log('está vacio')
				return
			}
			const todo = {
				texto: texto.value,
				estado: false,
				id: Date.now()
			}

			todos.value.push(todo)
			texto.value = ''
			//console.log(todos.value)
		}
		return {formulario, texto}
	}
}
</script>

<style lang="scss" scoped>

</style>