<template>
	<div class="container">
		<h1>Todo App</h1>
		<todo-form />
		<todo-list />
	</div>
</template>

<script>
import { ref } from '@vue/reactivity'
import { provide, watchEffect } from '@vue/runtime-core'
import TodoForm from './TodoForm.vue'
import TodoList from './TodoList.vue'
export default {
  components: { TodoForm, TodoList },
	setup () {
		const toodos = ref([])
		provide('todos', toodos)

		if (localStorage.getItem('todos')) {
			toodos.value = JSON.parse(localStorage.getItem('todos'))
		}

		watchEffect( ()=> {
			//console.log(toodos.value.length)
			//console.log(toodos.value)
			localStorage.setItem('todos', JSON.stringify(toodos.value) )
		})

	}
}
</script>

<style lang="scss" scoped>

</style>